{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    // "eslint:recommended",
    // "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    // "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [],
  "rules": {
    // "object-curly-newline": "off",
    "padded-blocks": "off",
    "react/jsx-one-expression-per-line": ["off", { "allow": "single-child" }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/hook-use-state": "warn",
    "react/style-prop-object": "error",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "jsx-a11y/accessible-emoji": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-unused-vars": ["warn"],
    "prefer-const": [
      "warn",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "linebreak-style": "off",
    "quotes": ["warn", "double", { "allowTemplateLiterals": false }],
    "import/extensions": "off",
    "camelcase": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "max-len": ["off"],
    "no-multiple-empty-lines": "off"
    // "import/no-relative-packages": "error",
    // "import/prefer-default-export": "warn"
  }
}
