@import "styles/variables.scss";

$note-width: 40%;
$card-shadow: 0 1px 3px rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0px 10px 15px -5px, rgb(0 0 0 / 4%) 0px 7px 7px -5px;

.container {
  width: 100%;
  &-shrink {
    display: grid;
    grid-template-columns: auto $note-width;
    gap: $marg-sm;
  }
}

.wrapper {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $marg-lg;
  padding: $marg-xl;
  overflow: auto;

  h5 {
    margin-top: $marg-md;
    margin-bottom: -#{$marg-sm};
  }

  p {
    margin-block: $marg-sm;
    color: var(--text-sub);
  }

  .card {
    border: none;
    background: var(--bg-light);
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border-radius: $radi-md;
    box-shadow: $card-shadow;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .pattern-wrapper {
      overflow: hidden;
      width: 100%;
    }
    .title {
      margin: $marg-xl $marg-xl $marg-sm;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        margin: 0px;
      }
    }
    .content {
      margin: 0 $marg-xl $marg-xl;
      text-align: initial;
      position: relative;

      // for line clamp
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: calc($text-md * 1.5);
        width: calc($text-md * 8.5);
        background: linear-gradient(to right, transparent, white);
      }
    }
  }

  .badges-section {
    display: flex;
    gap: $marg-xs;
  }

  .badge {
    border-color: var(--border);

    &-label {
      color: var(--text-sub);
      font-weight: 600;
    }
  }
}

.add-new {
  border: 2px dashed var(--border);
  display: flex;
  gap: $marg-xs;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  height: 100%;
  background: var(--bg-light);

  svg,
  span {
    color: var(--text-sub);
  }

  &:hover {
    background: var(--bg-light);
  }
}

.note {
  height: calc(100vh - $header-height);
  padding: $marg-xl;
  border-left: $border;
  overflow: auto;
  // transition: width 500ms ease-in-out;

  &-hidden {
    display: none;
    width: 0px;
    opacity: 0;
    // transition: width 250ms ease-in-out;
  }
  .title-area {
    display: flex;
  }
}

.title {
  border: none;
  font-size: $text-h1;
  font-weight: 700;
}
