@import "styles/variables.scss";

.toolbar {
  display: flex;
  gap: $marg-sm;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  background: var(--bg-light);
  border: $border;
  padding: $marg-xs;
  gap: $marg-xs;
  border-radius: 8px;
  // & > * {
  //   // display: inline-block;
  // }

  // & > * + * {
  //   // margin-left: 15px;
  //   // border-left: 1px solid var(--border);
  // }

  .active {
    background: var(--border-sub);
  }
}

.editor {
  // width: 400px;
  margin-top: $marg-xl;
  // background: var(--bg-top);
  padding: $marg-md;
  border-radius: 16px;

  .content {
    padding: $marg-md;

    blockquote {
      position: relative;
      margin-left: 0px;
      padding: $marg-sm 0 $marg-sm $marg-xl;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 6px;
        background: var(--icon);
        height: 100%;
        border-radius: $radi-sm;
      }
    }
    u {
      text-decoration: none;
      border-bottom: $border;
      border-color: inherit;
    }
    code {
      color: var(--text-sub);
      background: var(--border);
      padding: calc($marg-xs / 2) $marg-xs;
      border-radius: $radi-sm;
      border: inherit;
    }
  }
}

.block-element {
  position: relative;
  display: flex;
  gap: $marg-sm;
  align-items: baseline;

  .menu-btn {
    height: 22px;
    min-height: 22px;
    // visibility: hidden;

    svg {
      height: 16px !important;
      width: 16px !important;
    }
  }

  &:hover {
    .menu-btn {
      visibility: visible;
    }
  }
}

.hovering-menu {
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu-item {
  padding: $marg-xs;
  color: var(--text-main);
}

.menu-item-icon {
  color: var(--text-sub);
  border: $border-sm;
  border-radius: $radi-sm;
  padding: $marg-xs;

  svg {
    height: 16px !important;
    width: 16px !important;
  }
}

.shortcut {
  color: $gray-400;
}
